<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <welcome-file-list>
        <welcome-file>public/home</welcome-file>
    </welcome-file-list>
    
    <!-- Invoice Management Servlet -->
    <servlet>
        <servlet-name>InvoiceManagementController</servlet-name>
        <servlet-class>com.petcaresystem.controller.invoice.InvoiceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InvoiceManagementController</servlet-name>
        <url-pattern>/invoices</url-pattern>
    </servlet-mapping>
</web-app>
